/*======================================================================
 Table of Content:
 
 01. Google Fonts
 02. Basic Styles
 03. Typography
 04. Buttons
 05. Pre Loader
 06. Header Section
 07. Navigation Menu
 08. Banner Section
 09. About Section
 10. Interest Section
 11. Portfolio Section
 12. Blog Section
 13. Contact Section
 14. Inner Pages
    01. Not Found Page
    02. Coming Soon Page
 15. Styles Switcher CSS
 16. Responsive CSS
 ========================================================================*/

/*-----------------------------------------
* 01. Google Fonts
* -----------------------------------------*/
/*-- Poppins font --*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap");
/*-- Roboto font --*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap");

/*-----------------------------------------
* 02. Basic Styles
* -----------------------------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #2e3135;
  color: #b6b6b6;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
a {
  text-decoration: none;
  color: #b6b6b6;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a:focus {
  outline: 0 none;
}
a:active,
a:hover {
  outline: 0;
}
a:hover img {
  opacity: 0.88;
}
a,
a i.fa,
a img,
.button,
.btn {
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.gray-bg,
.bg-light {
  background-color: #26282b !important;
}
::selection {
  color: #ffffff;
}
.row-items {
  margin-top: -30px;
}
.row-items .row-item {
  margin-top: 30px;
}

/*-----------------------------------------
* 03. Typography
* -----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #fafafa;
  margin: 0 0 10px;
  text-transform: uppercase;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
p {
  margin: 0 0 15px;
}
p:last-child {
  margin-bottom: 0;
}

/*-----------------------------------------
* 04. Buttons
* -----------------------------------------*/
.btn {
  font-family: "Poppins", sans-serif;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 12px 34px;
  text-transform: uppercase;
  border: none;
  overflow: hidden;
  border-radius: 26px;
  box-shadow: none;
}
.btn:focus,
button:focus {
  box-shadow: none;
  outline: none !important;
}
.btn:before {
  position: absolute;
  top: 0;
  height: 102%;
  left: -25%;
  width: 0%;
  -webkit-transform: skew(-22deg);
  transform: skew(-22deg);
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  z-index: 1;
}
.btn:hover:before {
  width: 180%;
}
.btn span {
  position: relative;
  z-index: 2;
}

/* Button Small */
.btn-small {
  font-size: 12px;
  padding: 6px 15px;
}

/* Button Primary */
.btn-primary,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #333333;
  color: #ffffff;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #666666;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #333333;
}
.btn-primary:before {
  content: "";
  background-color: #000000;
}

/* Button Secondary */
.btn-secondary,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #666666;
  color: #ffffff;
}
.btn-secondary:hover {
  background-color: #666666;
  color: #ffffff;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  background-color: #666666;
  color: #ffffff;
}
.btn-secondary:before {
  content: "";
  background-color: #444444;
}

/* Button Link */
.btn-link {
  color: #333333;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-link:hover {
  color: #000000;
  text-decoration: none;
}

/* Form Control */
.form-control {
  font-family: "Poppins", sans-serif;
  background-color: #26282b;
  color: #fafafa;
  height: 50px;
  font-size: 14px;
  padding: 10px 22px;
  box-shadow: none;
  outline: none;
  border: 1px solid #424242;
  border-radius: 30px;
}
.form-control:focus {
  color: #fafafa;
  background: transparent;
  box-shadow: none;
  outline: none;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background: none;
  box-shadow: none !important;
}
.section-spacing {
  padding: 80px 0;
}
.content-block {
  margin-bottom: 50px;
}
.content-block:last-child {
  margin-bottom: 0;
}

/*-----------------------------------------
* 05. Pre Loader
* -----------------------------------------*/
.preloader {
  display: none;
  background-color: #2e3135;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  z-index: 99999;
}
.preloader.active {
  display: block;
}
.preloader-inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 4px solid hsla(0, 0%, 0%, 0.2);
  border-top-color: #333333;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*-----------------------------------------
* 06. Header Section
* -----------------------------------------*/
.site-header {
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.site-header .logo .text-logo {
  position: relative;
  color: #fafafa !important;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
}
.site-header.sticky-header {
  background-color: #26282b;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
}
.site-header.sticky-header .logo .text-logo {
  color: #fafafa !important;
}
.site-header.sticky-header .navigation .navbar-nav .nav-item .nav-link {
  color: #fafafa;
}

/*-----------------------------------------
* 07. Navigation Menu
* -----------------------------------------*/
.navigation .navbar-nav .nav-item {
  position: relative;
  padding: 0 0 0 10px;
}
.navigation .navbar-nav .nav-item .nav-link {
  color: #fafafa;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 10px;
  letter-spacing: 0.5px;
  position: relative;
  display: block;
  background: transparent;
}
.navigation .navbar-nav .nav-item .nav-link i {
  margin-right: 10px;
  position: relative;
}

/*-----------------------------------------
* 08. Banner Section
* -----------------------------------------*/
.banner-section {
  position: relative;
  background-color: #d7d7d7;
  min-height: 100vh;
  padding: 60px 0;
}
.banner-section .banner-inner {
  position: relative;
  z-index: 999;
}
.banner-section .banner-text h2 {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.9px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.banner-section .banner-text h3 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 15px;
}
.banner-section .banner-text p {
  color: #ffffff;
  max-width: 510px;
  letter-spacing: 0.2px;
  margin: 0 0 15px;
}
.banner-section .social-links a {
  color: #ffffff;
  font-size: 20px;
  margin: 0 20px 20px 0;
}

/* Background Image */
.banner-section.header-bg-img {
  background-image: url("../images/banners/home-banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Background overlay opacity */
.banner-section.header-bg-img:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.banner-section .banner-inner .center-picture {
  border-radius: 50%;
  max-width: 300px;
  border: 10px solid rgba(255, 255, 255, 0.1);
}

/* Cd Type Word Wrapper */
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
  border-right: 2px solid #dddddd;
  padding-right: 4px;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}

/* Bottom Scroll Arrow */
.scroll-down-arrow {
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
  display: block;
  cursor: pointer;
  width: 30px;
  height: 60px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.scroll-down-arrow:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -3px;
  background-color: #fafafa;
  border-radius: 50%;
  -webkit-animation: scroll_down 2s infinite;
  animation: scroll_down 2s infinite;
}
@-webkit-keyframes scroll_down {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll_down {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Section Title */
.section-title {
  position: relative;
}
.section-title h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 60px;
  text-align: center;
}
.section-subtitle h3 {
  margin-bottom: 48px;
  text-align: center;
}

/* Separator */
.separator {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background: #fafafa;
  width: 150px;
  height: 5px;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
}
.separator:after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  position: relative;
  background-color: #222222;
  animation: separator 2s linear infinite;
  overflow: hidden;
  border-radius: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@keyframes separator {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    left: 25px;
    width: 25%;
  }
  50% {
    left: 50px;
    width: 45%;
  }
  75% {
    left: 75px;
    width: 65%;
  }
  100% {
    left: 150px;
    width: 80%;
  }
}

/*-----------------------------------------
* 09. About Section
* -----------------------------------------*/
.about-details ul li span:first-child,
.about-details ul li span:first-child {
  opacity: 0.7;
}
/* Eeducation & Experience */
.education,
.experince {
  border-left: 2px solid #424242;
}
.education-box,
.experince-box {
  position: relative;
  box-shadow: 2px 0px 0px 1px #424242;
  border-radius: 4px;
  padding: 15px 25px;
  border-left: 3px solid;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.education-box:before,
.experince-box:before {
  content: "";
  left: -37px;
  display: block;
  position: absolute;
  background: #2e3135;
  border: 2px solid;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
.education-box:after,
.experince-box:after {
  content: "";
  background-color: #666666;
  display: block;
  position: absolute;
  width: 33px;
  height: 2px;
  top: 23px;
  left: -34px;
  z-index: -1;
}
.education-box:hover:before,
.experince-box:hover:before {
  background-color: #666666;
}
.education-box:hover,
.experince-box:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.education-box span,
.experince-box span,
.meta-action {
  font-size: 13px;
  font-weight: 400;
}

/* Skills */
.skills .progressbar {
  width: 100%;
  position: relative;
  background-color: #26282b !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.skills .proggress {
  height: 8px;
  width: 10px;
}
.skills .percentCount {
  float: right;
  clear: both;
  font-weight: 600;
  margin-top: -45px;
}
.skills .skill-name {
  margin: 0 0 12px 0;
  line-height: normal;
  opacity: 1;
  font-weight: 600;
  font-size: 14px;
}

/* Counter */
.counter-box {
  border: 1px solid #424242;
  padding: 28px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.counter-box:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}
.counter-box h3 {
  border-bottom: 2px solid rgba(102, 102, 102, 0.4);
  font-size: 52px;
  display: block;
  text-align: right;
}

/*-----------------------------------------
* 10. Interest Section
* -----------------------------------------*/
.Interest .card-body {
  padding: 30px;
  border-radius: 5px;
  -webkit-transition: cubic-bezier(0.57, 0.11, 0.27, 0.9) 0.3s;
  transition: cubic-bezier(0.57, 0.11, 0.27, 0.9) 0.3s;
  border: 1px solid #424242;
}
.Interest .card-body:hover {
  background-color: #2e3135;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
}
.Interest .card-icon {
  font-size: 50px;
  margin-bottom: 15px;
}
.Interest .card-title h4 {
  font-size: 22px;
  font-weight: 600;
}

/*-----------------------------------------
* 11. Portfolio Section
* -----------------------------------------*/
.portfolio #portfolio-flters li {
  cursor: pointer;
  text-transform: uppercase;
  background-color: #26282b;
  color: #ffffff;
  padding: 10px 28px;
  margin: 0 5px 10px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li.filter-active,
.portfolio #portfolio-flters li:hover {
  background-color: #000000;
}

/* Portfolio Card Info */
.portfolio .portfolio-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.portfolio .portfolio-wrap:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  z-index: 9;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 99;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-wrap .portfolio-info:before {
  content: "";
  display: block;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 1px dashed #ffffff;
  border-left: 1px dashed #ffffff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 1px dashed #ffffff;
  border-right: 1px dashed #ffffff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  margin: 0 0 15px;
}
.portfolio .portfolio-wrap .portfolio-info .portfolio-inner-info {
  position: relative;
  z-index: 9999;
}
.portfolio .portfolio-wrap .portfolio-links a {
  background-color: #26282b;
  margin: 0 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  background-color: #000000;
  color: #ffffff !important;
}
.portfolio .portfolio-wrap:hover:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info:before {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.portfolio .portfolio-wrap:hover .portfolio-info:after {
  bottom: 15px;
  right: 15px;
  top: 15px;
  left: 15px;
}

/* Profolio Detail Popup */
.portfolio-details,
.blog-details {
  position: relative;
  width: 95%;
  background: #26282b;
  margin: 40px auto;
  padding: 30px;
  border-radius: 5px;
  z-index: 999;
}
.popup-detail-title {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #424242;
  margin-bottom: 25px;
  padding-bottom: 25px;
  line-height: 1;
}
.portfolio-details .mfp-close,
.blog-details .mfp-close {
  color: #fafafa;
}
.mfp-close-btn-in .mfp-close {
  font-size: 40px;
}
.mfp-arrow {
  position: fixed;
}
.mfp-fade.mfp-bg {
  height: 100% !important;
  position: fixed !important;
}
.mfp-fade.mfp-wrap {
  height: 100% !important;
  position: fixed !important;
  overflow: hidden auto;
  top: 0 !important;
}

/*-----------------------------------------
* 13. Contact Section
* -----------------------------------------*/
.contact .card-body {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #424242;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}
.contact .card-body .card-icon i {
  font-size: 18px;
  background-color: #26282b;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
}
.contact .card-body:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.4);
}
.contact .card-body:hover .card-icon i {
  color: #ffffff !important;
}
.contact .card-body h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
}
.contact .card-body .social-links a {
  font-size: 18px;
  margin-right: 15px;
}
.contact .responsive-map {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: auto;
}
.contact .responsive-map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: none;
}
.contact .contact-form .btn-primary:hover {
  background-color: #000000;
}

.mailsendbtn {
  display: inline-block;
  position: relative;
}
.mailsendbtn .loading {
  display: none;
  position: absolute;
  right: -35px;
  top: 15px;
  font-size: 12px;
}
.error_msg {
  margin: 0px;
  display: block;
  font-size: 14px;
  color: #ff4141;
}

/* Back To Top Scroll Arrow */
.back-to-top {
  display: none;
  background-color: #26282b;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  box-shadow: 0 0 2px #fafafa;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 999;
}
.back-to-top:hover {
  background-color: #000000;
  color: #ffffff;
}
